{% extends 'base.html.twig' %}

{% block title %}New Rubriques{% endblock %}

{% block body %}
    <h1>Create new Rubriques</h1>

    {{ include('rubriques/_form.html.twig') }}

    <a href="{{ path('rubriques_index') }}">back to list</a>
{% endblock %}
